app:
    orderCount: 10
server:
  port: 8222
logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web: DEBUG
    com.classpathio.order: DEBUG 
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.ap-south-1.amazonaws.com/ap-south-1_mJ4ZUJIkC
aws:
  region: ap-south-1
  topic-arn: arn:aws:sns:ap-south-1:831955480324:order-events

  datasource:
    url: jdbc:h2:mem:orders_db
    username: sa
    password: welcome
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
info:
  app:
    name: orders-api
    description: API for managing orders
    version: 1.0.0
management:
  prometheus:
    metrics:
      export:
        descriptions: true
        enabled: true
  endpoint:
    health:
      show-details: "ALWAYS"
      probes:
        enabled: true
    circuitbreakers:
      enabled: true 
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true     
  health:
    circuitbreakers:
      enabled: true
    defaults:
      enabled: true

# Resilience4j Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        sliding-window-type: COUNT_BASED
    instances:
      inventoryservice:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        automatic-transition-from-open-to-half-open-enabled: true
        eventConsumerBufferSize: 10
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.io.IOException
          - org.springframework.web.reactive.function.client.WebClientRequestException
